.remove-assignment-content {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  /* full screen */
  top: 50%;
  left: 30%;
  /* small screen */
  /* top: 10%;
  left: 10%; */
}

.hero-container {
  background-color: #403d58;
  color: #fff;
  /* height: 100vh; */
}

.hero-container img{
  /* height: 1vh; */
  width: 100%;
}

.content-container {
  display: none;
  background-color: #dbd56e;
  height: 600px;
}

.accordion-container {
  display: none;
  background-color: #fc7753;
  color: #fff;
  height: 600px;
}

.footer-container {
  display: none;
  background-color: #f2efea;
  width: 100%;
  height: 300px;
  position: relative;
}
